<!DOCTYPE html>
<html lang="<%= $site.lang %>" id="homepage">
  <head>
    <%- include('./_blocks/head') %>
    <title><%= $site.siteName %></title>
    <meta name="google-site-verification" content="cFckQKmVKok-Ix3Dx36HyfXPI5OxTSBEQ-kF0I1dSHI" />
  </head>

  <body>
    <div class="homepage-main">
      <div class="homepage-title-area">
        <h1 class="homepage-title"><%= $page.mainTitle %></h1>
        <h2 class="homepage-subtitle"><%= $page.subtitle %></h2>
      </div>
      <nav class="homepage-navigation">
        <% for (const menuItem of $page.menu) {%>
        <a href="<%= menuItem.link %>"><%= menuItem.label %></a>
        <% } %>
        <% if($link.rss) { %>
        <a href="<%= $link.rss %>">RSS</a>
        <% } %>
      </nav>
    </div>
  </body>
</html>
